In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum

In [2]:
spark = SparkSession.builder.appName("Teste").master("spark://spark:7077").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/09 05:33:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
df = spark.range(100)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [6]:
dados = [('Joana', 27), ('Mateus', 30), ('Roberto', 42)]
df2 = spark.createDataFrame(dados, ['nome', 'idade'])
df2.show()

[Stage 2:>                                                          (0 + 1) / 1]

+-------+-----+
|   nome|idade|
+-------+-----+
|  Joana|   27|
| Mateus|   30|
|Roberto|   42|
+-------+-----+

In [12]:
df2.select(_sum('idade')).show()

+----------+
|sum(idade)|
+----------+
|        99|
+----------+